__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Build files
_build/
build/
195book/build/
.195book/_build/
195book/_build/
195book/_build/html/
195book/_build/html/title-page.html
195book/_build/html/search.html
195book/_build/html/genindex.html
